In [1]:
import pandas as pd
df = pd.read_csv('MpMode.csv')
df.shape

(511, 3)

In [2]:
df.loc[(df['rocauc']>0.65) & (df['score']>0.51)]

                  func  score  rocauc
44                 8-9   0.52    0.67
270          1-2-4-5-6   0.52    0.66
281          1-2-5-6-8   0.52    0.66
286          1-2-6-7-8   0.53    0.69
297          1-3-4-7-8   0.53    0.67
316          1-4-6-7-8   0.55    0.70
320          1-5-6-7-8   0.53    0.70
346          2-4-5-6-8   0.52    0.66
351          2-4-6-7-8   0.53    0.69
375          4-5-6-7-8   0.53    0.70
401        1-2-4-5-6-7   0.53    0.66
402        1-2-4-5-6-8   0.56    0.68
407        1-2-4-6-7-8   0.53    0.70
411        1-2-5-6-7-8   0.53    0.69
417        1-3-4-5-6-8   0.52    0.66
431        1-4-5-6-7-8   0.52    0.72
452        2-4-5-6-7-8   0.53    0.69
465      1-2-3-4-5-6-7   0.53    0.67
466      1-2-3-4-5-6-8   0.53    0.67
475      1-2-3-5-6-7-8   0.52    0.67
480      1-2-4-5-6-7-8   0.55    0.68
493      2-3-4-5-6-7-8   0.52    0.67
501    1-2-3-4-5-6-7-8   0.53    0.67
507    1-2-4-5-6-7-8-9   0.56    0.66
510  1-2-3-4-5-6-7-8-9   0.52    0.66